// Component: Contact info
// --------------------------------------------------

@use 'abstracts/mixins' as mixins;

$base_class: "contact-info";

.#{$base_class} {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gutterMedium) var(--gutterLarge);

  p {
    margin: mixins.ptr(8) 0;
  }

  a {
    color: var(--colorText);
    &:hover,
    &:focus {
      color: var(--colorLinkHover);
    }
  }
}
