// Layout: Footer
// --------------------------------------------------

@use "abstracts/mixins" as mixins;

.site-footer {

  @include mixins.bp('tablet') {
    padding-left: var(--gutterLarge);
  }

  .c-logo {
    margin: var(--gutterMedium) 0;
  }
}
