// Layout: Layout
// --------------------------------------------------

@use "abstracts/mixins" as mixins;

.site-wrapper {
  width: 100%;
  margin: 0 auto;
  padding: var(--gutterMedium);

  @include mixins.bp('desktop') {
    padding: var(--gutterLarge);
  }
}

.container {
  max-width: var(--containerWidth);
  margin: 0 auto;
}

// Layouts.

.layout {
  display: grid;
  gap: var(--gutterMedium);
  max-width: var(--containerWidth);
  margin: 0 auto;

  @include mixins.bp('desktop') {
    gap: var(--gutterLarge);
  }
}

.layout--cols-1 {
  @include mixins.bp('tablet') {
    grid-template-columns: 1fr;
  }
}

.layout--cols-2 {
  @include mixins.bp('tablet') {
    grid-template-columns: 1fr 1fr;
  }
}

.layout--cols-3 {
  @include mixins.bp('tablet') {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.layout--cols-4 {
  @include mixins.bp('tablet') {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
