// Component: Main Navigation
// --------------------------------------------------

@use 'abstracts/mixins' as mixins;

$base_class: "footer-navigation";

.#{$base_class} {
  ul {
    display: flex;
    flex-direction: column;
    gap: mixins.ptr(4);
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      > a {
        color: var(--colorText);
        text-decoration: underline;
        &:hover,
        &:focus {
          color: var(--colorLinkHover);
        }
      }
      &.active > a {
        color: var(--colorText);
        font-weight: var(--fontWeightMedium);
        &:hover,
        &:focus {
          color: var(--colorLinkHover);
        }
      }
    }
  }

  @include mixins.bp('tablet') {
    ul {
      flex-direction: row;
      gap: var(--gutterMedium);
    }
  }
}
