// Component: Main Navigation
// --------------------------------------------------

@use 'abstracts/mixins' as mixins;

$base_class: "main-navigation";

.#{$base_class} {
  ul {
    display: flex;
    flex-direction: row;
    gap: var(--gutterLarge);
    // justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      font-size: mixins.ptr(20);

      > a {
        color: var(--colorMenu, --colorText);
        &:hover,
        &:focus {
          color: var(--colorMenuHover, var(--colorLinkHover));
        }
      }
      &.active > a {
        color: var(--colorMenuActive, var(--colorText));
        font-weight: var(--fontWeightBold);
        &:hover,
        &:focus {
          color: var(--colorMenuActiveHover, var(--colorLinkHover));
        }
      }
    }
  }
}
