// Main
// --------------------------------------------------

@use "abstracts/variables";

@use "base/typography";
@use "base/document";
@use "base/a11y";

@use "layout/layout";
@use "layout/footer";

@use "pages/projects";
