// Component: Icon
// --------------------------------------------------

@use 'abstracts/mixins' as mixins;

$base_class: "icon";

.#{$base_class} {
  display: inline-block;
  vertical-align: bottom;

  &, & svg {
    width: 22px;
    height: 22px;
  }

  &--small {
    &, & svg {
      width: 14px;
      height: 14px;
    }
  }

  &--large {
    &, & svg {
      width: 28px;
      height: 28px;
    }
  }
}
