/*
 * @file
 * Provides the layout styles.
 */

.layout--cols-2 {
  display: flex;
  flex-wrap: wrap;
}

.layout--cols-2>.layout__region {
  flex: 0 1 100%;
}

@media screen and (min-width: 40em) {
  .layout--cols-2>.layout__region {
    flex: 0 1 50%;
  }
}
