// Atom: Button
// --------------------------------------------------

@use "abstracts/mixins" as mixins;

$base_class: "button";

.#{$base_class} {
  --fontSizeButton: #{mixins.ptr(16)};
  --buttonPadding: #{mixins.ptr(8)} #{mixins.ptr(16)};
  --buttonBorderRadius: #{mixins.ptr(8)};
}

.#{$base_class} {
  display: inline-block;
  appearance: none;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  padding: var(--buttonPadding);
  border: 0 none;
  border-radius: var(--buttonBorderRadius);
  font-size: var(--fontSizeButton);
  color: var(--colorWhite);
}

.#{$base_class} {
  &--link {
    padding: 0;
    color: var(--colorLink);
    text-decoration: underline;
    &:hover {
      color: var(--colorLinkHover);
    }
  }

  &--grey {
    background-color: var(--colorNeutral300);
    &:hover {
      color: var(--colorWhite);
      background-color: var(--colorLinkHover);
    }
  }

  &--primary {
    background-color: var(--colorPrimary);
    &:hover {
      color: var(--colorWhite);
      background-color: var(--colorLinkHover);
    }
  }

  &--secondary {
    background-color: var(--colorSecondary);
    &:hover {
      color: var(--colorWhite);
      background-color: var(--colorLinkHover);
    }
  }
}
