// Component: Logo
// --------------------------------------------------

@use "abstracts/mixins" as mixins;

$base_class: "logo";

.#{$base_class} {
  img {
    display: block;
    width: 80px;
    height: auto;
  }

  &--horizontal img {
    width: 200px;
  }
  &--vertical img {
    width: 80px;
  }
}
