// Component: Logo
// --------------------------------------------------

@use "abstracts/mixins" as mixins;

$base_class: "logo";

.#{$base_class} {
  a:focus img {
    outline: 3px solid var(--focusColor);
    outline-offset: 3px;
    border-radius: 100%;
  }

  img {
    display: block;
    width: 80px;
    height: auto;
  }

  &--horizontal img {
    width: 200px;
  }
  &--vertical img {
    width: 80px;
  }
}
