// Component: Site header
// --------------------------------------------------

@use 'abstracts/mixins' as mixins;

$base_class: "site-header";
$nav_height: 200px; // hardcoded height for animation.

.#{$base_class} {
  --colorHeaderBackground: var(--colorPrimary);
}

.#{$base_class} {
  position: relative;
  min-height: mixins.ptr(64);
  margin-block-end: var(--gutterLarge);
  background-color: var(--colorHeaderBackground);
  border-radius: var(--borderRadiusLayout);


  &__wrapper {
    display: flex;
    align-items: center;
    padding: var(--gutterMedium);

    @include mixins.bp('desktop') {
      padding: var(--gutterLarge);
    }
  }

  &__arrow {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) translateY(50%);
    padding: mixins.ptr(8);
    background: var(--colorPageBackground);
    border-radius: 100%;
  }

  .logo {
    a {
      display: inline-block;
      border-radius: 100%;
      padding: mixins.ptr(4);
      background-color: var(--colorWhite);
      block-size: mixins.ptr(60);
      inline-size: mixins.ptr(60);

      @include mixins.bp('tablet') {
        padding: mixins.ptr(6);
        block-size: mixins.ptr(70);
        inline-size: mixins.ptr(70);
      }

      @include mixins.bp('desktop') {
        padding: mixins.ptr(8);
        block-size: mixins.ptr(80);
        inline-size: mixins.ptr(80);
      }
    }
  }
}

// Mobile menu

.#{$base_class}__menu-toggle {
  &[aria-hidden="true"] {
    display: none;
  }
}

@include mixins.bp('mobile', max) {

  .#{$base_class} {
    overflow: hidden;
  }

  .#{$base_class}__menu-toggle {
    // reset button.
    appearance: none;
    border: 0;
    background: transparent;
    // align
    margin-inline-start: auto;

    &:hover {
      svg, svg * {
        stroke: var(--colorLinkHover);
      }
    }
  }

  .#{$base_class}__navigation {
    overflow: hidden;
    block-size: 0;
    transition: block-size 0.2s var(--easeInOut);

    &.open {
      height: $nav_height;
      opacity: 1;
      transition: block-size 0.5s var(--easeOverShoot);
    }
  }

  .#{$base_class}__navigation-inner {
    block-size: 100%;
    padding: var(--gutterMedium);
    border-block-start: solid 3px var(--colorPageBackground);

    @include mixins.bp('desktop') {
      padding: var(--gutterLarge);
    }
  }

  .main-navigation {
    margin-block: mixins.ptr(24);
    ul {
      flex-direction: column;
      align-items: center;
      gap: mixins.ptr(8);
    }
  }

  .language-switcher {
    justify-content: center;
  }

}

// Home variant

.#{$base_class}--home {


  .site-header__content {
    position: relative;
    z-index: 9;
    padding: var(--gutterMedium);
    block-size: 600px;
    border-block-start: solid 3px var(--colorPageBackground);
    // background-color: var(--colorSecondary);
    background-color: #5dc9fa;

    .home-visual {
      position: absolute;
      right: 0;
      bottom: 0;
      max-width: 1000px;
      transform: translateY(16.5%)
    }

    @include mixins.bp('desktop') {
      padding: var(--gutterLarge);
    }
  }
}
