.site-header {
  --colorHeaderBackground: var(--colorSecondary);
}

.site-header {
  position: relative;
  min-height: 4rem;
  padding: var(--gutterMedium);
  margin-block-end: var(--gutterLarge);
  background-color: var(--colorHeaderBackground);
  border-radius: var(--borderRadiusLayout);
}
@media (min-width: 900px) {
  .site-header {
    padding: var(--gutterLarge);
  }
}
.site-header__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: var(--gutterLarge);
}
.site-header__wrapper .main-navigation {
  flex: 1 1 auto;
}
.site-header__arrow {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transform: translateY(50%);
  padding: 0.5rem;
  background: var(--colorPageBackground);
  border-radius: 100%;
}
.site-header .logo {
  display: inline-block;
  border-radius: 100%;
  padding: 0.5rem;
  background-color: var(--colorWhite);
}

.site-header--home {
  height: 80vh;
}

/*# sourceMappingURL=data:application/json;charset=utf-8,%7B%22version%22:3,%22sourceRoot%22:%22%22,%22sources%22:%5B%22site-header.scss%22,%22../../../sass/abstracts/_mixins.scss%22%5D,%22names%22:%5B%5D,%22mappings%22:%22AAOA;EACE;;;AAGF;EACE;EACA;EACA;EACA;EACA;EACA;;AC8HE;EDpIJ;IASI;;;AAGF;EACE;EACA;EACA;EACA;EACA;EACA;;AAEA;EACE;;AAQJ;EACE;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAGF;EACE;EACA;EACA;EACA;;;AAMJ;EACE%22,%22file%22:%22site-header.css%22%7D */
