// Base: Forms
// --------------------------------------------------

@use "abstracts/mixins" as mixins;

:root {
  // Borders & radius
  --formBorder: 1px solid var(--colorNeutral200);
  --formBorderRadius: #{mixins.ptr(6)};

  // Colors
  --formBackground: var(--colorWhite);
  --formText: var(--colorText);
  --formPlaceholder: var(--colorNeutral400);
  --formFocusBorder: var(--colorLink);
  --formHoverBorder: var(--colorLinkHover);
  --formCheckedBackground: var(--colorLink);

  // Font sizes
  --formFontSize: var(--fontSizeBody);
  --formLabelFontSize: var(--fontSizeBody);

  // Spacing
  --formSpacing: #{mixins.ptr(16)};
  --formPaddingY: #{mixins.ptr(8)};
  --formPaddingX: #{mixins.ptr(14)};
}

form {
  display: flex;
  flex-direction: column;
  gap: var(--formSpacing);
}

label {
  display: block;
  font-size: var(--formLabelFontSize);
  font-weight: var(--fontWeightMedium);
  color: var(--formText);
  margin-bottom: mixins.ptr(8);
}

// Fieldset.

fieldset {
  margin: 0;
  padding: 0;
  border: 0 none;

  legend {
    @extend label;
  }
}


// Textual input fields.

input[type="text"],
input[type="number"],
input[type="email"],
input[type="tel"],
select,
textarea {
  width: 100%;
  padding: var(--formPaddingY) var(--formPaddingX);
  font-size: var(--formFontSize);
  color: var(--formText);
  background-color: var(--formBackground);
  border: var(--formBorder);
  border-radius: var(--formBorderRadius);
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

input:focus,
select:focus,
textarea:focus {
  border-color: var(--formFocusBorder);
  // box-shadow: 0 0 0 3px color-mix(in srgb, var(--formFocusBorder) 40%, transparent);
  outline: none;
}

input:hover,
select:hover,
textarea:hover {
  border-color: var(--formHoverBorder);
}

// Checkboxes & radio buttons.

.form-checkboxes {
  display: flex;
  flex-direction: column;
  gap: mixins.ptr(2);
  .js-form-type-checkbox > label {
    font-weight: var(--fontWeightNormal);
  }
}

.js-form-type-checkbox {
  display: flex;
  flex-wrap: nowrap;

}

input[type="checkbox"],
input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  margin-block: 0;
  margin-inline: 0 mixins.ptr(6);
  border: var(--formBorder);
  border-radius: var(--formBorderRadius);
  background-color: var(--formBackground);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 14px;
  vertical-align: middle;
  position: relative;
  cursor: pointer;
  transition: all 0.2s ease;
}

input[type="radio"] {
  border-radius: 50%;
}

input[type="checkbox"]:checked {
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="none" stroke="%23fff" stroke-width="2" %3E %3Cpath d="M3 8l3 3 7-7" /%3E%3C/svg%3E');
  background-color: var(--formCheckedBackground);
}

input[type="radio"]:checked {
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="%23fff" %3E %3Ccircle cx="8" cy="8" r="4" /%3E%3C/svg%3E');
  background-color: var(--formCheckedBackground);
}

input[type="checkbox"]:hover,
input[type="radio"]:hover {
  border-color: var(--formHoverBorder);
}

input[type="checkbox"]:focus-visible,
input[type="radio"]:focus-visible {
  outline: 2px solid var(--formFocusBorder);
  outline-offset: 2px;
}

input[type="checkbox"]:active,
input[type="radio"]:active {
  // ...
}

// Select dropdown.

select {
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 6"%3E%3Cpath fill="%23333" d="M0 0l5 6 5-6H0z"/%3E%3C/svg%3E');
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 0.65rem auto;
  padding-right: 2rem;
}
