// Base: Typography
// --------------------------------------------------

@use "abstracts/mixins" as mixins;

h1,
.h1 {
  @include mixins.heading('h1');
}

h2,
.h2 {
  @include mixins.heading('h2');
}

h3,
.h3 {
  @include mixins.heading('h3');
}

h4,
.h4 {
  @include mixins.heading('h4');
}

h5,
.h5 {
  @include mixins.heading('h5');
}

h6,
.h6 {
  @include mixins.heading('h6');
}

p {
  margin-block: 1em;
  font-size: var(--fontSizeBody);
  line-height: var(--fontLineHeightBody);
}

a {
  color: var(--colorLink);
  font-weight: var(--fontWeightRegular);
  text-decoration: none;
  outline-offset: 4px;
  -moz-outline-radius: 4px;

  &:hover {
    color: var(--colorLinkHover);
  }

  &:focus-visible {
    outline: solid 2px var(--colorFocus);
    border-radius: .25rem;
  }
}

.typography a {
  color: var(--colorLink);
  font-weight: var(--fontWeightRegular);
  text-decoration: underline;
  text-decoration-color: var(--colorLinkUnderline);
  text-underline-offset: mixins.ptr(5);

  &:hover {
    color: var(--colorLinkHover);
    text-decoration-color: var(--colorLinkHover);
  }
}

label {
  color: var(--colorTextHeading);
  font-size: var(--fontSizeBody);
  font-weight: var(--fontWeightSemiMedium);
}

dl {
  display: grid;
  grid-gap: var(--gutterMedium);
  grid-template-columns: max-content;
}

dt {
  font-weight: bold;
  min-inline-size: mixins.ptr(100);
}

dd {
  margin: 0;
  grid-column-start: 2;
}

dd > * {
  margin: 0;
}

img {
  max-inline-size: 100%;
  block-size: auto;
}

// Notification badge for Jobs etc.

.notifications-badge {
  position: relative;
  padding-inline-end: mixins.ptr(10);

  &::after {
    content: "";
    position: absolute;
    inset-block-start: mixins.ptr(-2);
    inset-inline-end: 0;
    block-size: mixins.ptr(8);
    inline-size: mixins.ptr(8);
    background-color: var(--colorPrimary);
    border-radius: 100%;
  }
}

// Embeds

iframe {
  border: 0 none !important;
}

// Tables

.responsive-table-wrapper {
  @include mixins.bp('tablet', 'max') {
    overflow-x: auto;
    max-inline-size: calc(100vw);
    margin-inline: -1rem; // gutter
    padding-inline: 1rem;
  }
}

table {
  // max-inline-size: 100%;
  border-collapse: collapse;
}

th {
  font-weight: 600;
  background-color: var(--colorGrey50);
}

th,
td {
  padding-block: mixins.ptr(12);
  padding-inline: mixins.ptr(16);
  text-align: start;
  vertical-align: top;
  border-block-end: var(--defaultBorder);
}

table caption {
  margin-block-end: 1rem;
  font-size: mixins.ptr(14);
  color: var(--colorTextMuted);
  text-align: start;
}
