// Component: Breadcrumb
// --------------------------------------------------

@use 'abstracts/mixins' as mixins;

$base_class: "breadcrumb";

.#{$base_class} {
  line-height: 1;

  .icon {
    transform: translateY(-1px);
  }

  ol {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: mixins.ptr(8);
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      display: flex;
      align-items: center;
      gap: mixins.ptr(8);

      a {
        color: var(--colorText);
        text-decoration: underline;
        &:hover,
        &:focus {
          color: var(--colorLinkHover);
        }
      }

      span.current-page {
        font-weight: var(--fontWeightMedium);
      }
    }
  }
}
