// Component: Site footer
// --------------------------------------------------

@use 'abstracts/mixins' as mixins;

$base_class: "site-footer";

.#{$base_class} {
  .breadcrumb {
    margin-block: var(--gutterLarge);
  }
  .logo {
    margin-block-end: var(--gutterMedium);
  }
}
