/*
 * @file
 * Provides the layout styles.
 */

.layout--cols-3 {
  display: flex;
  flex-wrap: wrap;
}

.layout--cols-3>.layout__region {
  flex: 0 1 100%;
}

@media screen and (min-width: 40em) {
  .layout--cols-3>.layout__region {
    flex: 0 1 33.33%;
  }
}
