// Atom: Pill
// --------------------------------------------------

@use "abstracts/mixins" as mixins;

$base_class: "pill";

.#{$base_class} {
  --fontSizePill: #{mixins.ptr(14)};
  --pillPadding: #{mixins.ptr(2)} #{mixins.ptr(8)};
  --pillBorderRadius: #{mixins.ptr(8)};
}

.#{$base_class} {
  display: inline-block;
  appearance: none;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  padding: var(--pillPadding);
  border: 0 none;
  border-radius: var(--pillBorderRadius);
  font-size: var(--fontSizePill);
  color: var(--colorWhite);
}

.#{$base_class} {
  &--grey {
    background-color: var(--colorNeutral300);
    &:hover,
    &:focus {
      color: var(--colorWhite);
      background-color: var(--colorLinkHover);
    }
  }

  &--primary {
    background-color: var(--colorPrimary);
    &:hover,
    &:focus {
      color: var(--colorWhite);
      background-color: var(--colorLinkHover);
    }
  }

  &--secondary {
    background-color: var(--colorSecondary);
    &:hover,
    &:focus {
      color: var(--colorWhite);
      background-color: var(--colorLinkHover);
    }
  }
}
